@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $align: flex-start,
  $justify: flex-start,
  $gap: 0
) {
  display: flex;
  flex-flow: $direction $wrap;
  place-content: $align $justify;
  gap: $gap;
}
