---
import Document from 'components/layout/Document.astro';
import Footer from 'components/layout/Footer.astro';
import Navbar from 'components/layout/Navbar.astro';
import styles from 'styles/Layout.module.scss';

export type Props = {
  frontmatter: {
    title?: string;
    description?: string;
  };
};

const { frontmatter } = Astro.props;
---

<Document {...frontmatter}>
  <Navbar />
  <main class={styles.main}>
    <slot />
  </main>
  <Footer />
</Document>
