---
import BaseTemplate from './BaseTemplate.astro';
import { Card } from 'components/common';
import styles from 'styles/CardTemplate.module.scss';

export type Props = {
  frontmatter: {
    title: string;
    description?: string;
  };
};

const { frontmatter } = Astro.props;
---

<BaseTemplate frontmatter={frontmatter}>
  <Card {...frontmatter}>
    <section class={styles.content}>
      <slot />
    </section>
  </Card>
</BaseTemplate>
