@use 'helpers/animations';
@use 'helpers/colors' as *;
@use 'helpers/flex' as *;
@use 'helpers/media' as *;

.card {
  @include animations.fade($direction: 'up');
  @include mobile {
    margin-inline: 0;
  }

  margin-inline: 2rem;
  padding: 1rem;
  box-shadow: 4px 4px 1rem $base-300;

  & > section:first-child {
    @include flex($gap: 1rem);
    align-items: center;
    margin-bottom: 2rem;

    h2,
    i {
      display: inline;
    }
  }
}
