@use 'helpers' as *;

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0 2rem;
  background-color: $base-500;
  color: $base-100;
  @include flex($direction: column);
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', cursive;
  margin: 0;
}

h1 {
  @include mobile {
    font-size: 2rem;
  }

  font-weight: 700;
  font-size: 3rem;
}

p {
  font-size: 1.1rem;
}

a {
  color: inherit;
}

pre,
code {
  font-family: 'Source Code Pro', monospace;
}
