@use 'helpers' as *;

.navbar {
  @include flex($justify: space-between);

  & button {
    display: none;
    @include mobile {
      display: initial;
    }
  }

  & > ul {
    align-items: center;

    @include flex($gap: 0.5rem);
    @include mobile {
      display: none;
    }
  }

  li {
    list-style-type: none;
  }
}
