@use 'helpers/flex' as *;
@use 'helpers/colors' as *;
@use 'helpers/media' as *;

.navbar {
  @include flex($justify: space-between);

  align-items: center;

  & button {
    @include mobile {
      display: initial;
    }

    display: none;
  }

  & > ul {
    @include flex($gap: 0.5rem);
    @include mobile {
      display: none;
    }

    align-items: center;
  }

  li {
    list-style-type: none;
  }
}
