@use 'helpers/animations';
@use 'helpers/colors' as *;
@use 'helpers/flex' as *;

.navlink {
  @include flex;
  @include animations.squish;
  @include animations.fade;

  span {
    @include flex($justify: center);
  }

  div {
    text-align: center;
  }
}

.navlink-animated {
  &:hover {
    div {
      opacity: 1;
      transform: translateY(0);
    }
  }

  div {
    opacity: 0;
    transition: 0.25s;
    transform: translateY(1em);
  }
}
