---
import '../../styles/index.scss';

export type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta
      property='og:title'
      content={title}
    />
    <meta
      property='og:description'
      content={description}
    />
    <meta
      property='og:image'
      content='/social.png'
    />
    <link
      rel='icon'
      href='/favicon.ico'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Space+Grotesk:wght@400;600;700&display=swap'
      rel='stylesheet'
    />
    <title>{title ?? 'bdreece.dev'}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
