---
import type { NavLinkProps } from 'components/common';
import { Drawer, Link, NavLink } from 'components/common';
import styles from 'styles/Navbar.module.scss';

const links: NavLinkProps[] = [
  { href: '/', label: 'Home', icon: '/icons/home.svg' },
  { href: '/about', label: 'About Me', icon: '/icons/pin.svg' },
  { href: '/blog', label: 'Blog', icon: '/icons/text.svg' },
  { href: '/projects', label: 'Projects', icon: '/icons/rocket.svg' },
  { href: '/resume', label: 'Resume', icon: '/icons/briefcase.svg' },
];
---

<nav class={styles.navbar}>
  <Link href='/'>
    <h1>bdreece.dev</h1>
  </Link>
  <ul>
    {links.map(link => <NavLink {...link} />)}
  </ul>
  <Drawer
    client:media='(max-width: 768px)'
    links={links}
  />
</nav>
