---
/*
 * website - my friggin website, man
 * Copyright (C) 2022 Brian Reece

 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
import type { NavLinkProps } from 'components/common';
import { Drawer, Link, NavLink } from 'components/common';
import styles from 'styles/Navbar.module.scss';

const links: Omit<NavLinkProps, 'index'>[] = [
  { href: '/', label: 'Home', icon: '/icons/home.svg' },
  { href: '/about', label: 'About Me', icon: '/icons/pin.svg' },
  { href: '/blog', label: 'Blog', icon: '/icons/text.svg' },
  { href: '/projects', label: 'Projects', icon: '/icons/rocket.svg' },
  { href: '/resume', label: 'Resume', icon: '/icons/briefcase.svg' },
];
---

<nav class={styles.navbar}>
  <Link href='/'>
    <h1>bdreece.dev</h1>
  </Link>
  <ul>
    {
      links.map((link, i) => (
        <NavLink
          index={i}
          {...link}
        />
      ))
    }
  </ul>
  <Drawer
    client:media='(max-width: 768px)'
    links={links.map((link, index) => ({ index, ...link }))}
  />
</nav>
