---
import styles from '../../styles/Navbar.module.scss';

const links = [
  { href: '/', label: 'Home' },
  { href: '/about', label: 'About Me' },
  { href: '/projects', label: 'Projects' },
  { href: '/resume', label: 'Resume' },
];
---

<nav class={styles.navbar}>
  <a
    class='link'
    href='/'
  >
    <h1>bdreece.dev</h1>
  </a>
  <ul>
    {
      links.map(({ href, label }) => (
        <li>
          <a
            class='link'
            href={href}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
