---
import Layout from '../components/layout/Layout.astro';
---

<Layout title='About Me'>
  <article>
    <h2>About Me</h2>
    <section>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat
        debitis aliquam fugit ipsam pariatur corporis, blanditiis vel distinctio
        dolorum quia ut vitae, facilis soluta in sed tempore a voluptate
        deserunt.
      </p>
    </section>
  </article>
</Layout>
